In [1]:
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd 
import numpy as np
from matplotlib import pyplot as plt

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

## Overview

- Read in data set
- Analyze data with two ensemble algorithms
- Compare and contrast results

## Data Set

The data set has statistics of every NBA basketball player during their rookie year. In addition to their normal statistics, the csv has one additional column:
“TARGET_5YRS”. TARGET_5YRS is a binary response variable, this means it takes on the value either 1 or 0. 

- If TARGET_5YRS is equal to 1, it implies that player has made it to 5 or more years in the NBA. 

- If TARGET_5YRS is equal to 0, which implies the player either is too young to have played 5 years or did not make it to 5 years in the NBA.


**Download link:**

https://data.world/jz5jx/logistic-regression-and-simple-machine-learning-nba-rookies/workspace/file?filename=nba_logreg.csv

## Load Data Set into DataFrame

In [5]:
nba_rookie_df = pd.read_csv('data/nba_rookie_player_stats.csv')

In [6]:
nba_rookie_df.head()

,RecordID,Name,GP,MIN,PTS,FGM,FGA,FG%,3P Made,3PA,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,TARGET_5Yrs
0,1,A.C. Green,82,18.8,6.4,2.5,4.7,53.9,0.0,0.1,...,2.0,61.1,2.0,2.7,4.6,0.7,0.6,0.6,1.2,1.0
1,2,A.J. English,70,20.6,8.8,3.6,8.2,43.9,0.0,0.4,...,2.2,70.7,0.9,1.2,2.1,2.5,0.4,0.2,1.6,0.0
2,3,A.J. Price,56,15.4,7.3,2.6,6.3,41.0,1.1,3.1,...,1.3,80.0,0.2,1.4,1.6,1.9,0.6,0.1,1.1,1.0
3,4,Aaron Brooks,51,11.9,5.2,1.8,4.4,41.3,0.7,2.1,...,1.0,85.7,0.3,0.8,1.1,1.7,0.3,0.1,0.9,1.0
4,5,Aaron Gordon,47,17.0,5.2,2.0,4.4,44.7,0.3,1.0,...,1.3,72.1,1.0,2.6,3.6,0.7,0.5,0.5,0.8,0.0

In [8]:
nba_rookie_df.columns

Index(['RecordID', 'Name', 'GP', 'MIN', 'PTS', 'FGM', 'FGA', 'FG%', '3P Made',
       '3PA', '3P%', 'FTM', 'FTA', 'FT%', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'TARGET_5Yrs'],
      dtype='object')

### Rename columns